/// <reference include="../../utils/_variables.scss">

.ball {
    border-radius: 50%;
    position: absolute;

    &.player {
        background-color: $white;
    }

    &.enemy {
        background-color: $red;
    }
}
