$base-class: high-score;

.#{$base-class} {
    @include back-button;

    .#{$base-class}__main-container {
        padding-top: 20px;
        text-align: center;

        .#{$base-class}__title-container {
            padding-bottom: 20px;

            .#{$base-class}__title {
                @include title;
                @include bold;
            }
        }

        .#{$base-class}__filter-container {
            padding-bottom: 10px;
        }

        .#{$base-class}__entries-table {
            margin: auto;
            min-width: 75%;
        }
    }
}
